<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VueJS</title>
	<!-- Put this in the HTML section in JSFiddle! -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<h1 v-once>{{ title }}</h1>
		<p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p>
		<hr>
		<p v-html="finishedLink"></p>
	</div>
</body>

<script src="app.js"></script>

</html>